#graph {
    display:flex;
}

.data{
    height:10px;
    width:50px;
    background-color:red;
    display:inline-block;
}

select {
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    border-radius: 0.2em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 0 #AAA;
    background-color: white;
  }

  table{
      border:1px solid;
      background-color:#c7fdc2;
  }

  .button {
    display: inline-block;
    text-decoration: none;
    background: #9cb7f3;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 10px;
  }
  .button:hover {
    /*マウスオーバー*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }